<div class="container">
    <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">email</i>Email</div>
          <div class="collapsible-body"><span>manoj2kbgm@gmail.com</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">camera</i>Instagram</div>
          <div class="collapsible-body"><span>https://instagram.com/manojrayar</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">comment</i>Twitter</div>
          <div class="collapsible-body"><span>https://twitter.com/ManojRayar</span></div>
        </li>
      </ul>
</div>