<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">TodoList</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact-me</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-todo></app-todo> -->
