<div class="center-align" style="max-width: 50%; margin: auto;">
  
      <div class="card">
        <div class="card-image">
          <img src="https://avatars.githubusercontent.com/u/64516455?v=4">
          <span class="card-title">Mallikarjun Rayar</span>
        </div>
        <div class="card-content">
          <p>To obtain the creative and challenging position in an
            organisation that gives me an opportunity for self
            improvement and leadership,while contributing to the
            symbolic growth of the organisation with my
            technical,innovative and logical skills.</p>
        </div>
        <div class="card-action">
          <a routerLink="/contact">Contact</a>
        </div>
      </div>
    </div>
